.title-area
    position: relative
    width: 100%
    height: 250px
    min-height: 250px
    margin-top: $bu
    box-shadow: $bxSBig
    overflow: hidden
    
    .title-area-details
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/id/119/400/250')
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center 
        transition: 0.7s
        padding: $bu/2
        &:hover
            transform: scale(1.1)
        h2, p
            color: $co-2 
            text-align: center
      

